<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consumer.name %>
</p>

<p>
  <strong>Require blood group:</strong>
  <%= @consumer.require_blood_group %>
</p>

<p>
  <strong>Units required:</strong>
  <%= @consumer.units_required %>
</p>

<p>
  <strong>Email:</strong>
  <%= @consumer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @consumer.phone %>
</p>

<p>
  <strong>Picked date:</strong>
  <%= @consumer.pickup_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @consumer.address %>
</p>
<%#= link_to 'Edit', edit_consumer_path(@consumer) %> 
<%#= link_to 'Back', consumer_path %>