<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor.name %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @donor.blood_group %>
</p>

<p>
  <strong>Age:</strong>
  <%= @donor.age %>
</p>

<p>
  <strong>Date to donate:</strong>
  <%= @donor.date_to_donate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @donor.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @donor.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @donor.address %>
</p>

<%#= link_to 'Edit', edit_donor_path(@donor) %> 
<%#= link_to 'Back', donors_path %>
