<h1>Listing welcomes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Dob</th>
      <th>Gender</th>
      <th>Password</th>
      <th>Confirm password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @welcomes.each do |welcome| %>
      <tr>
        <td><%= welcome.name %></td>
        <td><%= welcome.email %></td>
        <td><%= welcome.phone %></td>
        <td><%= welcome.dob %></td>
        <td><%= welcome.gender %></td>
        <td><%= welcome.password %></td>
        <td><%= welcome.confirm_password %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Welcome', new_welcome_path %>
