<p id="notice"><%= notice %></p>
<h2>You are successfully registered</h2>
<p>
  <strong>Name:</strong>
  <%= @welcome.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @welcome.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @welcome.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @welcome.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @welcome.gender %>
</p>

<p>
  <strong>Password:</strong>
  <%= @welcome.password %>
</p>

<p>
  <strong>Confirm password:</strong>
  <%= @welcome.confirm_password %>
</p>


