<h2>About Us</h2>
<table width="300" border="0">
   <tr>
    <td><img src="<%= image_path "img1.jpg" %>" width="250" ></td>
    <td><img src="<%= image_path "img5.jpg" %>" width="250" ></td>
  </tr>
  <tr>
    <td colspan="2">
    	 <p align="justify">As one of the nation&rsquo;s premier humanitarian organizations, the American Red Cross is dedicated to helping people in need throughout the United States and, in association with other Red Cross networks, throughout the world. We depend on the many generous contributions of time, blood, and money from the American public to support our lifesaving services and programs.</p>
      <p align="justify">Clara Barton and a circle of her acquaintances founded the American Red Cross in Washington, D.C. on May 21, 1881. Barton first heard of the Swiss-inspired global Red Cross network while visiting Europe following the Civil War. Returning home, she campaigned for an American Red Cross and for ratification of the Geneva Convention protecting the war-injured, which the United States ratified in 1882.</p>
      <p align="justify">Barton led the Red Cross for 23 years, during which time we conducted our first domestic and overseas disaster relief efforts, aided the United States military during the Spanish-American War, and campaigned successfully for the inclusion of peacetime relief work as part of the global Red Cross network&ndash;the so-called &ldquo;American Amendment&rdquo; that initially met with some resistance in Europe.</p>
      <p align="justify">The Red Cross received our first congressional charter in 1900 and a second in 1905, the year after Barton resigned from the organization. The most recent version of the charter, which was adopted in May 2007, restates the traditional purposes of the organization which include giving relief to and serving as a medium of communication between members of the American armed forces and their families and providing national and international disaster relief and mitigation.</p>
      <p align="justify">Prior to the First World War, the Red Cross introduced its first aid, water safety, and public health nursing programs. With the outbreak of war, the organization experienced phenomenal growth. The number of local chapters jumped from 107 in 1914 to 3,864 in 1918 and membership grew from 17,000 to over 20 million adult and 11 million Junior Red Cross members. The public contributed $400 million in funds and material to support Red Cross programs, including those for American and Allied forces and civilian refugees. The Red Cross staffed hospitals and ambulance companies and recruited 20,000 registered nurses to serve the military. Additional Red Cross nurses came forward to combat the worldwide influenza epidemic of 1918.</p>
      <p align="justify">After the war, the Red Cross focused on service to veterans and enhanced our programs in safety training, accident prevention, home care for the sick, and nutrition education. We also provided relief for victims of such major disasters as the Mississippi River floods in 1927 and severe drought and the Depression during the 1930s.</p>
      <p align="justify">The Second World War called upon the Red Cross to provide extensive services once again to the U.S. military, Allies, and civilian war victims. We enrolled more than 104,000 nurses for military service, prepared 27 million packages for American and Allied prisoners of war, and shipped over 300,000 tons of supplies overseas. At the military&rsquo;s request, the Red Cross also initiated a national blood program that collected 13.3 million pints of blood for use by the armed forces.</p>
      <p align="justify">After World War II, the Red Cross introduced the first nationwide civilian blood program that now supplies more than 40 percent of the blood and blood products in this country. During the 1990s, we engineered a massive modernization of our blood services operations to improve the safety of our blood products. We continued to provide services to members of the armed forces and their families, including during the Korean, Vietnam, and Gulf wars. The Red Cross also expanded our services into such fields as civil defense, CPR/AED training, HIV/AIDS education, and the provision of emotional care and support in the wake of disasters. Since 2006, the Red Cross and FEMA have worked together helping government agencies and community organizations plan, coordinate and provide feeding, sheltering and family reunification services for people affected by disasters.</p>
      <p align="justify">Today, the supporters, volunteers and employees of the American Red Cross provide compassionate care in five critical areas:</p>
      <p align="justify"> People affected by disasters in America<br />
        Support for members of the military and their families<br />
        Blood collection, processing and distribution<br />
        Health and safety education and training<br />
        International relief and development</p>
    <p align="justify"></p>
    <br/>
    <marquee behavior="scroll" direction="left" scrollamount="3"><a href=""><img src="<%= image_path 'img4.jpg' %>" ></a><a href=""><img src="<%= image_path 'img2.jpg' %>" ></a><a href=""><img src="<%= image_path 'img3.jpg' %>" ></a></marquee>
    </td>
  </tr>
</table>