<!DOCTYPE html>
<html>
<head>
  <title>Pbm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<table width="82%" border="0" align="center">
  <tr>
    <td width="245"><div align="center"><a href="#"><img src="<%= image_path 'logo.jpg' %>" width="50" height="50" ></a><br/>
    Patient Blood Management</div></td>
    <td width="507"><img src="<%= image_path 'blood7.jpg' %>" width="690" height="100" ></td>
    <td width="39" valign="bottom"><a href="/">Home</a></td>
    <td width="42" valign="bottom"><a href="/donors/new">Donor</a></td>
    <td width="64" valign="bottom"><a href="/consumers/new">Consumer</a></td>
    <td width="65" valign="bottom"><a href="/aboutus/about">About Us</a></td>
    <td width="74" valign="bottom"><a href="/contacts/contactus">Contact Us</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td  rowspan="3">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td colspan="2"><label></label></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:14px;"><%= yield %></td>
    <td height="334" colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2" align="center"></td>
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
</body>
</html>